@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

/* used custom properties */

:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --clr-bg-Light-Grayish-Blue: hsl(210, 46%, 95%);

    --ff-base: 'Manrope', sans-serif;

    --fs-base: .8rem;

    --fw-semi: 500;
    --fw-bold: 700; 

    --width-base: 22rem;
    --avatar-width: 2.5rem;

    --line-height-title: 1.5rem;
    --line-height-paragraph: 1.2rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

picture,
img {
    max-width: 100%;
}

body {
    background-color: var(--clr-bg-Light-Grayish-Blue);
    font-family:var(--ff-base);
    min-height: 100vh;
}

.wrapper {
    margin: 4rem auto 0;
}

.drawer-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawer-illustration img {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    width: var(--width-base);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem 2rem 0;
    width: var(--width-base);
    margin: 0 auto;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.container h2 {
    font-size: 1.125rem;
    font-weight: var(--fw-semi);
    color: var(--Very-Dark-Grayish-Blue);
    text-align: left;
    line-height: var(--line-height-title);
}

.container p {
    line-height: var(--line-height-paragraph);
    font-size: var(--fs-base);
    margin-top: 1rem;
    color: var(--Desaturated-Dark-Blue);
}

.footer {
    display: flex;
    width: var(--width-base);
    padding: 2rem;
    position: relative;
}

.footer img {
    width: var(--avatar-width);
    height: 2.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.avatar-name {
    margin-left: 1rem;
}

.avatar-name h2 {
    font-size: var(--fs-base);
    color: var(--Very-Dark-Grayish-Blue);
}

.avatar-name p {
    font-size: var(--fs-base);
    color: var(--Grayish-Blue);
    margin-top: -.1rem;
}

.share-icon {
    inset: .5rem 5rem;
    position: relative;
    background-color: var(--clr-bg-Light-Grayish-Blue);
    width: 2.2rem;
    height: 2.2rem;
    padding: .45rem;
    border-radius: 50%;
    cursor: pointer;
}

.share-icon img {
    margin: .1rem .125rem;
    width: 1rem;
    height: 1rem;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons li:not(:last-child) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1rem;
}

.social-icons li {
    cursor: pointer;
}

.social-icons p {
    margin-inline: 2rem 1rem;
    margin-block: auto;
    letter-spacing: .2rem;
    text-transform: uppercase;
    color: var(--Desaturated-Dark-Blue);
}

.social-icons img {
    width: 1.5rem;
    height: 1.5rem;
}

.social-icons ul {
    display: flex;
    list-style: none;
}

.click-share-icon {
    inset: 0rem 3.8rem;
    position: relative;
    background-color: var(--Desaturated-Dark-Blue);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.click-share-icon img{
    margin: .3rem .2rem;
    padding: .3rem;
}

.click-social-nav {
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    width: var(--width-base);
    padding: 1.3rem 0;
    left: 0;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 1rem 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 90rem) {
    .wrapper {
        display: flex;
        justify-content: center;
        margin: 10rem 5rem 0;
    }

    .main-container {
        display: flex;
    }
    
    .drawer-illustration img {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

    .container {
        width: 28rem;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    .click-social-nav {
        top: -4rem;
        left: 14.7rem;
        border-radius: .8rem;
        box-shadow: hsl(212, 23%, 69%) 0px 7px 10px 0px;
        width: 18rem;
        display: none;
    }

    .triangle {
        position: absolute;
        transform: rotate(90deg);
        top: 4.5rem;
        left: 10.5rem;
        border-top: .8rem solid transparent;
        border-left: 1rem solid hsl(217, 19%, 35%);
        border-bottom: .8rem solid transparent;
    }

    .share-icon {
        inset: .5rem 12rem;
        display: block;
    }

    .click-share-icon {
        inset: 5.2rem -3.5rem;
        width: 2.1rem;
        height: 2.1rem;
    }

    .footer {
        right: 2.8rem;
    }
}